*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#61b3ff,#ff7878);
}

.container{
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1{
    margin-bottom: 20px;
    color: #333;
}

.password-box{
    display: flex;
    margin-bottom: 15px;
}

input{
    flex: 1;
    padding: 12px;
    border: 2px solid #d3d3d3;
    border-radius: 8px 0 0 8px;
    outline: none;
    font-size: 16px;
}

#copyBtn{
    border-radius: 0 8px 8px 0;
}

button{
    padding: 12px 20px;
    border: none;
    background: #667eea;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

button:hover{
    background: #55d6a0;
}