*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    display: grid;
    height: 500px;
    width: 500px;
    grid-column-start: 1fr 1fr 1fr 1fr;
    grid-row-start: 1fr 1fr 1fr;
    gap: 15px;
    padding: 10px;
}

.box{
    background-color: rgb(230, 157, 0);
    color: white;
}

.first{
    grid-row: 1/4;
}

.second{
    grid-column: 2/4;
}

.sixth{
     grid-row: 2/4;
     grid-column: 4/5;
}