* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #0b1623;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  margin-bottom: 30px;
  font-size: 32px;
}

.title span {
  color: #7CFF00;
}

.card {
  background: linear-gradient(3deg, rgba(219, 146, 61, 1) 0%, rgba(23, 23, 23, 1) 0%, rgba(25, 26, 26, 1) 0%, rgba(255, 170, 0, 1) 0%, rgba(53, 50, 50, 1) 42%, rgba(181, 91, 0, 1) 56%, rgba(57, 56, 56, 1) 67%, rgba(97, 98, 98, 1) 89%, rgba(137, 137, 137, 1) 100%, rgba(161, 161, 161, 1) 100%, rgba(176, 176, 176, 1) 100%, rgba(166, 164, 164, 1) 100%, rgba(227, 226, 222, 1) 100%);
  padding: 25px;
  width: 300px;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

.card img {
  width: 240px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(236, 236, 236);
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

button {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

#yesBtn {
  background: #003cff;
  color: white;
  margin-left: -80px;
}

#noBtn {
  background: #45bb00;
  color: white;
  position: absolute;
  margin-left: 90px;
}
